/* .App {
  text-align: center;
} */

body {
  margin: 0;
  padding: 0;
  background-image: url("./images/bgImageg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}


.container{
  padding: 32px;
  line-height: 8px;
  margin: 0;
  background-color: #232523;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 30px;
  color: cornflowerblue;

}

/* #container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

} */

.modal{
  line-height: 12px;
  background-color: rgb(148, 7, 249);
  height: auto;
  width: 316px;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-10%, -70%); */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1.5em;
  border-radius: 2em;
}

.submit-btn{
  background-color: cornflowerblue;
  color: white;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
  padding: 15px;
  width: auto;
  font-size: 1.4em;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form{
  display: flex;
  flex-direction: column;
}

label, input {
  margin-bottom: 8px;
}

.header {
  background-color: royalblue;
  padding: 0;
  margin-bottom: 90px;
  position: absolute;
      width: -webkit-fill-available;
}

.centered-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  color: rgb(255, 255, 255);
  font-size: 2.2em;
}

.close-btn{
  border: none;
  border-radius: 5px;
  background-color: hotpink;
  color: white;
  width: 65px;
  height: 20px;
  font-weight: 700;
  font-size: medium;
  cursor: pointer;
}

.link{
  text-decoration: none;
  color: white;
}

main > p{
  color: white;
}

span{
  color: white;
}

@media (max-width: 591px) {
  img{
    width: 355px;
  }
}

img{
  border-radius: 25px;
}

main{
  padding: 0 19px;
}

p{
  font-size: large;
}

.display-demo{
  width: 150px;
  height: 20px;
  border: 2px dashed yellow;
  border-radius: 24px;
  background-color: white;
  color: black;
  margin-left: 64px;
  margin-bottom: 7px;
}

.light{
  width: 45px;
  height: 40px;
  float: right;
  position: static;
}

.display-second-demo{
  width: 250px;
  height: 170px;
  background-color: aqua;
  color: black;
  border-radius: 20px;
  padding: 5px;
}